# Krita backup files
*.kra~
*.png~
*.jpg~


# Godot-specific ignores
.import/
export.cfg
export_presets.cfg
*.godot

# Mono-specific ignores
.mono/
build/
textures/flecha2.png.import
textures/ITEMS/BACARDI.png.import
textures/ITEMS/COCA.png.import
textures/ITEMS/HIELO.png.import
fonts/PF Pixelscript Pro Regular.ttf.import
*.import
